@model OnlinePizzaOrderingSystem.Models.Pizza

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="card" style="border: 2px solid #C00000">
        <div class="thumbnail">
            <img src="@Model.ImageUrl" class="card-img-top p-2 rounded" alt="" />
            <div class="card-body">
                <h3 class="pull-right">@Model.Price.ToString("c")</h3>
                <h3>
                    <a asp-area="Admin" asp-controller="Pizza" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
                </h3>
                @*<p class="card-text">@Model.Description</p>*@
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-danger"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-pieId="@Model.Id">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>